html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ss-text {
  font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", "sans-serif";
  color: #000;
  font-size: 1em;
}
.blue-back {
  background-color: #557a95;
}
.vollkorn {
  font-family: 'Vollkorn', 'serif';
}
.flex {
  display: -ms-flexbox;
  display: flex;
}
.flex-col {
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex-row {
  -ms-flex-direction: row;
      flex-direction: row;
}
.f-row-nowrap {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}
.align-center {
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
}
.just-start {
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.just-cent {
  -ms-flex-pack: center;
      justify-content: center;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
}
header {
  border-bottom: 1px solid #000;
}
.banner {
  width: 90%;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  font-size: 1.25em;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.125em;
  color: #f9e79f;
  line-height: 1;
}
section {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex: 1;
      flex: 1;
  background-image: url("../img/background-texture.png");
  background-color: #d8c3a5;
  border-bottom: 1px solid #000;
}
.wrapper {
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: 90%;
  margin: auto;
}
.main {
  width: 90%;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f9e79f;
  box-shadow: 2px 2px 5px #969696;
}
.main label {
  font-size: 0.8em;
}
.box-wrapper {
  width: 95%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.instruction {
  margin: 0.5em 0;
}
.boxes {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 250px;
  height: 95px;
  -moz-border-radius: 5px;
}
.buttons {
  margin-top: 1em;
  margin-bottom: 1em;
}
.output-area {
  width: 100%;
}
.input-area {
  min-width: 100%;
}
#input {
  width: 100%;
}
#output {
  font-family: "Aegyptus_R", "Aegyptus_B", "Gardiner", "NewGardiner", sans-serif;
  font-size: 1.25em;
  width: 100%;
}
#main-help {
  font-size: 0.85em;
}
.contact-info {
  padding: 1em;
  margin: 1em;
}
.help-title {
  margin-top: 0.5em;
}
.help-div {
  margin: 1em;
}
.help-div div {
  font-size: 0.9em;
  margin-top: 0.5em;
}
.help-div a {
  font-style: bold;
}
footer {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.75em;
  letter-spacing: 0.125em;
  text-align: center;
  color: #f9e79f;
}
.footer-container {
  margin: 0.5em;
  width: 81%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer-contact {
  -ms-flex-align: start;
      -ms-grid-row-align: flex-start;
      align-items: flex-start;
}
.icon-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.icon {
  margin: 0.5em;
}
@media screen and (min-height: 700px) {
  .wrapper {
    min-height: 85%;
  }
  .main {
    min-height: 90%;
  }
  h1 {
    font-size: 2.5em;
  }
  footer {
    font-size: 1em;
  }
}
@media screen and (min-height: 900px) {
  h1 {
    font-size: 3em;
  }
  .main label {
    font-size: 1.2em;
  }
  .instruction {
    font-size: 1.2em;
  }
  footer {
    font-size: 1.2em;
  }
  .boxes {
    height: 200px;
  }
  #input {
    font-size: 1.5em;
  }
  #output {
    font-size: 2em;
  }
}
@media screen and (min-width: 600px) {
  .box-wrapper {
    width: 75%;
  }
}
@media screen and (min-width: 900px) {
  .box-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .box-wrapper {
    width: 40%;
  }
}
@media screen and (min-width: 1800px) {
  .box-wrapper {
    width: 30%;
  }
}

 /*# sourceMappingURL=master.css.map */