footer.blue-back.vollkorn.flex.f-row-nowrap.align-center
    .footer-container.flex.flex-row
        .footer-contact.flex.flex-col
            div Charles Loder 
            #copyright 
            
        a(href='contact.html') Contact