nav(role='navigation')
        #menu-toggle
            input(type='checkbox')
            span
            span
            span
            ul(id='menu')
                a(href='index.html')
                    li Home
                a(href='help.html')    
                    li Help
                a(href='contact.html')
                    li Contact