extends layout

block content
    .box-wrapper.flex.flex-col.align-center
        .contact-info.text-center
            | Feel free to send me an email at 
            a(mailto='charles.w.loder@gmail.com') charles.w.loder@gmail.com

        .contact-info.text-center
            | Or check me out on 
            a(href="https://independentresearcher.academia.edu/CharlesLoder" target="blank") Academia.edu
            |  or at 
            a(href="https://github.com/charlesLoder" target="blank") Github

        a(href="index.html") Home