extends layout

block content 
  .box-wrapper.flex.flex-col.just-start
    #instr.instruction You must put a '/' between every Gardiner code or hieroglyph.
    
    .box-box.flex.flex-col.align-center
      .input-area.flex.flex-col.just-start
        label(for="input") Type in a Gardiner Sign (e.g. A001/A002)
        textarea(name="input", id="input", class="boxes ss-text", cols="30", rows="4", placeholder="A001/A002")
      
      .buttons
        button#toHieroglyph &#9660
        button#toGardiner &#9650

      .output-area.flex.flex-col.just-start
        label(for="output") You can enter hieroglyphs and get the Gardiner signs.
        textarea(name="output", id="output", class="boxes ss-text", cols="30", rows="4", placeholder="\u{13000}/\u{13001}")

    #main-help.instruction
      | If you are experiencing issues, check out the 
      a(href='./help.html') Help
      |  page.

  script(defer="true", src="js/index.js")    
  script(defer="true", src="js/convert.js")